<div class="container pt-5">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title bg-primary text-white">New Item Type</h5>
      <%= render 'form', item_type: @item_type %>
      <%= link_to 'Back', item_types_path, class:'mt-4 btn btn-secondary' %>
    </div>
  </div>
</div>
