<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @daily_take_keep.customer_id %>
</p>

<%= link_to 'Edit', edit_daily_take_keep_path(@daily_take_keep) %> |
<%= link_to 'Back', daily_take_keeps_path %>
