<div class="container pt-5">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title bg-primary text-white">Editing Item</h5>
      <%= render 'form', item: @item %>
      <div class="row mt-3">
        <div class="col">
          <%= link_to 'Show', @item, class:'btn btn-primary' %>
        </div>
        <div class="col">
          <%= link_to 'Back', items_path, class:'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>
