/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

// body
body {
  overflow: hidden;
  background: #f2f2f2;
}

.container {
  overflow: auto !important;
  padding: 2rem;
  max-height: 92vh;
  width: 100%;
}

// button
.btn { width: 100%; }

// link
a {
  text-decoration: none;
  color: #666
}

// box

.row-cus {
  display: grid;
  grid-template-columns: repeat(7,8rem);
  .box {
    width: 8rem;
    height:6rem;
    display: flex;
    flex-direction: column;
    &.border {
      border: 1px solid #fff !important;
    }
    .date {
      height: 30%;
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      span:first-child {
        font-size: 1rem;
        font-weight: bold;
      }
    }
    span {}
  }
}

// card
.card {
  .card-title {
    background: red;
    width: 20rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
    border-radius: 10px;
  }
}

// navbar
.navbar {
  width: 100% !important;
  .container-fluid {
    .navbar-collapse {
      .navbar-text {

        margin-right: 2rem;
      }
    }
  }
}

.col-3, .col-9 {
  padding: 0;
}

// sidebar
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  justify-content: space-between;
  // background: #fff;
  .sidebar-brand {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 2rem;
    }
  }
  .sidebar-menu {
    position: absolute;
    top: 9rem;
    height: 25rem;
    overflow-y: scroll;
    width: 19rem;
    ul {
      margin-left: 1rem;
      list-style: none;
      li {
        font-size: 14px;
        a, span {
          color: #666;
          i {
            margin-right: 0.5rem;
          }
          span {}
        }
        ul {
          li {
            position: relative;
            right: 2rem;
            a {}
          }
        }
      }
    }
  }
  .sidebar-footer {
    display: flex;
    flex-direction: column;
    height: 5rem;
    padding-left: 1rem;
    .row {
      .col-8 {
        span {
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

// customer show
.customer-items {
  ul {
    list-style: none;
    position: relative;
    right: 2rem;
  }
}


// sign in out

.sign-in-up {
  background-image: url('https://markey.id/wp-content/uploads/2019/12/686.-marketplace-dalah.jpg');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
